/* Header */

header {
   display: flex;
   justify-content: center;
   height: 30px;
   padding: 12px 0;
    img {
      height: 30px;
   }
    span {
      position: absolute;
      top:17px;
      left: 20px;
      color: $color-12;
   }
}




/* Footer */

footer {
   display:grid;
   justify-items: center;
   width: 100%;
   padding-top: 22px;
   padding-bottom: 8px;
   background-color: $color-05;
   color: $color-07;
   img {
      margin-left: -166px;
   }
   ul {
      margin-left: -140px;
   }
   li {
      list-style-type: none;
      padding-bottom: 6px;
   }
   a {
      color: $color-07;
      font-size: 14px;
   }
}

.bloc-footer {
   &__icon1 {
      padding-right: 11px;
   }
   &__icon2 {
      padding-right: 6px;
   }
}

// .footer-restaurant {
//    width:100%
// }

@media (min-width:768px) {
   footer {
      display:flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: baseline;
      padding-left: 12%;
      column-gap: 160px;
      width: 88%;
      img {
         height:18px;
      }
      ul {
         display: flex;
         justify-content: space-around;
         align-items: center;
         column-gap: 16px;
      }
   }

   // .footer-restaurant {
   //    width:88%
   // }
}

@media (min-width:992px) {
   footer {
       padding-left: 7%;
       width: 93%;



   }
}

 

