body {
  font-family: Roboto;
  font-weight: 400;
  margin: 0;
}

.title {
  font-family: Shrikhand;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 12px 0;
}

/* Footer */
footer {
  display: grid;
  justify-items: center;
  width: 102%;
  padding-top: 22px;
  padding-bottom: 8px;
  background-color: #353535;
  color: #FFFFFF;
}
footer img {
  margin-left: -166px;
}
footer ul {
  margin-left: -140px;
}
footer li {
  list-style-type: none;
  padding-bottom: 6px;
}
footer a {
  color: #FFFFFF;
  font-size: 14px;
}

.bloc-footer__icon1 {
  padding-right: 11px;
}
.bloc-footer__icon2 {
  padding-right: 6px;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    padding-left: 57px;
    column-gap: 154px;
    width: 95%;
  }
  footer img {
    height: 18px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 16px;
  }
}
/* Search Bar */
.search-bar {
  background-color: #EAEAEA;
  color: #353535;
  padding: 16px 0;
  font-size: 16px;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 102%;
}
.search-bar > input {
  margin-left: 17px;
  border: none;
  background-color: transparent;
}
.search-bar > input::placeholder {
  color: #353535;
  font-size: 16px;
}

/* Buttons */
.btn {
  border: none;
  border-radius: 24px;
  font-size: 16px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.btn__introduction {
  padding: 13px 18px;
  margin-bottom: 20px;
}
.btn__introduction--purple {
  background: linear-gradient(#FF79DA 15%, #9356DC 100%);
}

.card {
  width: 288px;
  display: grid;
}
.card > img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card--margin-bottom {
  margin-bottom: 24px;
}

.card-description {
  height: 70px;
  background-color: #FFFFFF;
  margin: 0;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-description__writing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
}
.card-description__heart {
  font-size: 24px;
  margin-right: 21px;
  font-weight: 300;
}

.card-description__writing {
  font-size: 14px;
}
.card-description__writing h3 {
  font-weight: 700;
  padding: 4px 0;
}
.card-description__writing p {
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
  padding-top: 38px;
  text-align: left;
}

h3 {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  /*Search Bar*/
  .search-bar {
    width: 100%;
  }
  /* Buttons */
  .btn-introduction--size {
    font-size: 12px;
  }
  /* Cards */
  .card {
    width: 172px;
  }
  .card--margin-bottom {
    margin-bottom: 0;
  }
  .card--margin-top {
    margin-top: 18px;
  }
  .card2--margin-bottom {
    margin-bottom: 20px;
  }
}
/* Introduction */
.bloc-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  padding: 44px 0;
  width: 102%;
  text-align: center;
}
.bloc-introduction > h1 {
  max-width: 275px;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.bloc-introduction__subtitle {
  font-weight: 300;
  max-width: 315px;
  font-size: 16px;
  padding-bottom: 16px;
}

.bloc-fonctionnement {
  display: grid;
  justify-content: center;
  padding-bottom: 56px;
  margin: 0 auto;
  width: 102%;
}
.bloc-fonctionnement__title {
  padding-bottom: 26px;
}

.bloc-restaurant {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  width: 102%;
  background-color: #EAEAEA;
  padding-bottom: 44px;
}

.bloc-fonctionnement__options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
  margin-left: 12px;
}

.bloc-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 288px;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bloc-options:hover {
  background-color: #F5EDFF;
}
.bloc-options:hover span {
  color: #9356DC;
}
.bloc-options__number {
  color: #FFFFFF;
  padding: 3px 6px;
  border-radius: 50px;
  background-color: #9356DC;
  font-size: 10px;
  position: relative;
  right: 10px;
  margin-right: 6px;
}
.bloc-options > span {
  font-size: 16px;
  color: #7E7E7E;
  padding-right: 24px;
}
.bloc-options__paragraph--size {
  font-size: 16px;
}

.bloc-options__icon--spacing {
  padding-right: 20px;
}

@media (min-width: 768px) {
  /* Introduction */
  .bloc-introduction {
    width: 100%;
  }
  .bloc-introduction > h1 {
    font-size: 24px;
    max-width: 100%;
  }
  .bloc-introduction__subtitle {
    max-width: 100%;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .btn-introduction--size {
    font-size: 12px;
  }
  /* Fonctionnement */
  .bloc-fonctionnement, .bloc-restaurant {
    display: grid;
    justify-items: flex-start;
    width: 100%;
  }
  .bloc-fonctionnement__options {
    flex-direction: row;
    column-gap: 24px;
  }
  .bloc-options {
    width: 220px;
  }
  .bloc-options > span {
    padding-right: 10px;
  }
  /* Restaurants */
  .bloc-restaurant__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
  }
}
@media (min-width: 992px) {
  .bloc-fonctionnement__options {
    column-gap: 44px;
  }
}
.new-restaurant-theme {
  color: #008766;
  background-color: #99E2D0;
  padding: 5px 10px;
  margin: auto;
  font-size: 12px;
  border-radius: 2px;
  position: relative;
  top: 42px;
  left: 92px;
}

@media (min-width: 768px) {
  .new-restaurant-theme {
    padding: 3px 6px;
    left: 48px;
    top: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
