body {
  font-family: Roboto;
  font-weight: 400;
  margin: 0;
}

.title {
  font-family: Shrikhand;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h2 {
  text-align: left;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 12px 0;
}

/* Footer */
footer {
  background-color: #353535;
  color: #FFFFFF;
}
footer svg {
  color: #FFFFFF;
}
footer li {
  list-style-type: none;
}
footer a {
  color: #FFFFFF;
}

/* Search Bar */
.search-bar {
  background-color: #EAEAEA;
  color: #353535;
  padding: 16px 0;
  font-size: 16px;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.search-bar > input {
  margin-left: 17px;
  border: none;
  background-color: transparent;
}
.search-bar > input::placeholder {
  color: #353535;
  font-size: 16px;
}

/* Buttons */
.btn {
  border: none;
  border-radius: 24px;
  font-size: 16px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.btn__introduction {
  padding: 13px 18px;
}
.btn__introduction--purple {
  background: linear-gradient(#FF79DA 15%, #9356DC 100%);
}

.card {
  width: 334px;
  margin-bottom: 20px;
}
.card > img {
  height: 173px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__description {
  height: 77px;
  background-color: #FFFFFF;
  margin: 0;
  border-radius: 0 0 15px 15px;
  padding: 14px 12px;
  display: flex;
  flex-direction: row;
}
.card__description > div {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 22px;
}

h3 {
  margin: 0;
  padding: 0;
}

/* First section */
.bloc-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F7F7;
  padding: 44px 0;
  text-align: center;
}
.bloc-introduction > h1 {
  max-width: 275px;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.bloc-introduction__subtitle {
  font-weight: 300;
  max-width: 315px;
  font-size: 16px;
}

.bloc-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc-fonctionnement__title {
  margin-left: -140px;
}

.bloc-restaurant {
  padding: 56px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloc-fonctionnement__options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bloc-restaurant {
  background-color: #EAEAEA;
}

.bloc-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  margin-left: -20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  column-gap: 16px;
}
.bloc-options__number {
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 50px;
  background-color: #9356DC;
  font-size: 12px;
}
.bloc-options > span {
  font-size: 16px;
  color: #7E7E7E;
}
.bloc-options__paragraph--size {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
