/* Introduction */
.bloc-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-06;
    padding: 44px 0;
    width: 102%;
    text-align: center;
    > h1{
        max-width: 275px;
        font-weight: 700;
        font-size: 24px;
        margin: 0;   
    }
    &__subtitle{
        font-weight: 300;
        max-width: 315px;
        font-size: 16px; 
        padding-bottom: 16px;
    }
}

.bloc-fonctionnement {
    display: grid;
    justify-content: center;
    padding-bottom: 56px;
    margin: 0 auto;
    width: 102%;
    &__title {
        padding-bottom: 26px;
    }
}

.bloc-restaurant {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    width: 102%;
    background-color: $color-04;
    padding-bottom: 44px;
}

.bloc-fonctionnement__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    margin-left: 12px;
}

.bloc-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 288px;
    height: 72px;
    border-radius: 20px;
    background-color: $color-09;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    &:hover {
        background-color: $color-10;
    }
    &:hover span {
        color: $color-01; // Pour changer seulement la couleur de l'icône lors du survol de la div //
    }
    &__number {
        color: $color-07;
        padding: 3px 6px;
        border-radius: 50px;
        background-color: $color-01;
        font-size: 10px;
        position: relative;
        right: 10px;
        margin-right: 6px;
    }
    > span {
        font-size: 16px;
        color: $color-08;
        padding-right: 24px;
 
    }
    &__paragraph--size {
        font-size:16px;
    }
}

.bloc-options__icon--spacing{
    padding-right: 20px;
}

.bloc-img {
    position: relative;
    z-index: 1;
    height: 282px;
    > img {
        width: 100%;
        height: 316px;
        object-fit: cover;
    } 
}


.bloc-menu {
    position: relative;
    z-index: 2;
    padding: 30px 16px;
    background-color: $color-09;
    border-radius: 25px 25px 0 0;
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        column-gap: 20px;
        margin-bottom: 40px;
        > h1 {
            font-family: Shrikhand;
            font-size: 24px;
            margin: 0;
        }
        > span {
            font-size: 24px;
            padding-right: 20px;
        }
    }
}

.menu-part {
    display: grid;
    row-gap:12px;
    margin-bottom: 40px;
}
.menu-part__title{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 0;
    span {
        border-bottom: 3px solid $color-03;
        padding-bottom: 6px;
    }
}

.bloc-dish {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-radius: 16px;
    background-color: $color-07;
    &__price {
        font-weight: bold;
        padding-right: 6px;
    }
}

.bloc-dish__content {
    padding: 0 12px;
    padding-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bloc-dish__writing {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.bloc-dish__content {
    &:hover + .bloc-dish__checked {
    width: 73px;
    height: 100%;
    border-radius: 0 16px 16px 0;
    background-color: $color-03;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    animation-name: checked;
    animation-iteration-count: 1;
    > span {
        color: $color-03;
        font-size: 18px;
        background-color: $color-07;
        border: 1px solid $color-07;
        padding: 2px 4px;
        border-radius: 50px;
        animation-duration: 750ms;
        animation-name: icon-checked;
        animation-iteration-count: 1;
    }
  } 
}

.bloc-dish__checked {
    display: none;
}

@keyframes checked {
    from {
      transform: translate(100%);
      
    }
  
    to {
        transform: translate(0%);
     
    }
  }
@keyframes icon-checked {
    // from {
    //     transform: rotate(0deg);
    // }
    to{
        transform: rotate(1turn);
  }
}


@for $i from 1 through 10 {
    .bloc-dish-#{$i} {
        animation-duration: 750ms;
        animation-delay: $i*100ms;
        animation-name: glissement;
        animation-iteration-count: 1;

    }
  }

@keyframes glissement {
    from {
      margin-top: 20%;
      
    }
  
    to {
      margin-top: 0%;
     
    }
  }

.bloc-loader{
    &:hover {
    opacity: .6;
    position: absolute;
    top: 0;
    left:0;
    z-index: 999;
    width: 100%;
    height: 700%;
    display: flex;
    flex-direction: column;
    padding-top: 60%;
    animation: load 2s;
    .loader {
        border: 8px solid rgba(0,0,0,.2);
        border-top-color:red;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s ease-in-out infinite;
        margin: 0 auto;
        position: relative;  
    }
    & span i {
        display: none;
    }
}
}
@keyframes load {
    from {
        background-color: aliceblue;
    }
    to {
        display: none;
        background-color: aqua;
    }
}

@keyframes spin {
    from{
        transform: rotate(360deg);
    }
    to {
        
        display: none;
    }
}

@media (min-width:768px) {
    /* Introduction */
    .bloc-introduction{
            width: 100%;
            > h1 {
                font-size: 24px;
                max-width: 100%;
            }
            &__subtitle {
                max-width: 100%;
                font-size: 12px;
                padding-top: 12px;
                padding-bottom: 8px;
            }
        }
        .btn-introduction--size {
            font-size: 12px;
        }

        /* Fonctionnement */
        .bloc-fonctionnement, .bloc-restaurant {
            display: grid;
            justify-items: flex-start;
            width: 100%;
        }
        
        .bloc-fonctionnement__options {
            flex-direction: row;
            column-gap: 24px;
        }

        .bloc-options {
            width: 220px;
            > span {
               padding-right: 10px; 
            }
        }

        /* Restaurants */

        .bloc-restaurant__cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 18px;
        }
    }


    @media (min-width:992px) {
        .bloc-introduction{
            > h1 {
                font-size: 36px;
            }
            &__subtitle {
                font-size: 16px;
            }
        }
        .bloc-fonctionnement__options {
            column-gap: 44px;
        }
        .bloc-options {
            width: 284px;
        }
    }