/* Search Bar */

.search-bar {
    background-color: $color-04;
    color: $color-05;
    padding: 16px 0;
    font-size: 16px;
    box-shadow: inset 0px 2px 3px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 102%;
    > input {
        margin-left: 17px;
        border: none;
        background-color: transparent;
        &::placeholder{
            color: $color-05;
            font-size: 16px;
        }
    }  
}

/* Buttons */
.btn {
    border: none;
    border-radius: 24px;
    font-size: 16px;
    color: $color-07;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    background: linear-gradient($color-02 15%, $color-01 100%);
    opacity: 1;
    transition : all 1s ;
    cursor: pointer;
    &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,.6);
        opacity: .9;
    }
    &__introduction {
        margin-bottom: 20px;
        padding: 13px 18px;
    } 
}

.btn__order {
    padding: 14px 42px;
    display: block;
    margin: 10px auto;
}



.card {
    width: 288px;
    display: grid;
    > img {
        height: 120px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &--margin-bottom {
        margin-bottom: 24px;
    }
}
 
.card-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: $color-07;
    margin: 0;
    border-radius: 0 0 15px 15px;
    color: $color-12;
    &__writing {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 12px;
    }
    &__heart {
        font-size: 24px;
        margin-right: 21px;
        font-weight: 300;
        color: #000;
        cursor: pointer;
        transform: scale(1);
        // transition: all 2s ease-out;
        &:hover i {
            background: linear-gradient($color-01, $color-02);
            color: transparent;
            font-weight: 600;
            transform: scale(1.4);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
        }
       
    }
}



.card-description__writing {
        font-size: 14px;
    h3 {
        font-weight: 700;
        padding: 4px 0;
        overflow: hidden; 
        text-overflow: ellipsis;
        
    }
    p {
        font-weight: 300;
        margin: 0;
        overflow: hidden; 
        text-overflow: ellipsis;
    }
}


h2 {
    font-size:20px;
    margin: 0;
    padding-top: 38px;
    text-align: left;

}

h3 {
    margin: 0;
    padding: 0;
    
}

@media (min-width:768px) {
    /* Search Bar */
    .search-bar {
        width: 100%;
    }

    /* Buttons */
    .btn-introduction--size {
        font-size: 12px;
    } 

    /* Cards */
    .card {
        width:172px;
        &--margin-bottom {
            margin-bottom: 0;
        }
        &--margin-top {
            margin-top: 18px;
        }

    }

    .card2--margin-bottom {
        margin-bottom: 20px;
    }
}

@media (min-width:992px) {
    .card {
        width: 228px;
    }
}


