$color-01: #9356DC;
$color-02: #FF79DA;
$color-03: #99E2D0;
$color-04: #EAEAEA;
$color-05: #353535;
$color-06: #F7F7F7;
$color-07: #FFFFFF;
$color-08: #7E7E7E;
$color-09: #F6F6F6;
$color-10: #F5EDFF;
$color-11: #008766

